language: python

python: 3.6

cache:
  pip: true
  directories:
    - .tox
    - $HOME/miniconda

stages:
  - test
  - name: deploy
    if: tag IS present

env:
  global:
    - USERNAME=seignovert
  matrix:
    - TOX=pytest
    - TOX=docs
    - TOX=linter

install:
  - pip install tox-travis
script:
  - tox

jobs:
  include:
    - stage: deploy
      env:
        - CONDA_DEPLOY
        - MINICONDA_VERSION=Miniconda3-latest-Linux-x86_64
        # travis encrypt CONDA_TOKEN=token
        - secure: IhMRSGW45NtrBuvNaXLUvvqaYTFZgAl2Mgndh7ploTLXclT6HyObTid82dOKYkCt6YoB+3eS/isL8Ow1vNrkspMB71Z9A/zHNiAp/DcGg11w0w/CQl+bwk/vw/t5fg24QNlubSD5W4QlTtxyY9pte9ZvfVOev4+8Cnr6wTv9ugsGZv0rmR8YY/Uaf78I2bnrmrOXFgEUZ6bdmBb7r3MrWp0t1RyIzc8wwh0XOkXQnPbIFfw15y1X8QDUkRFNHtzRjDLjNWYmjLeF6B0Puo/o7RxphRMydBF8f5A6KdxvjzKhcUjmHoTBLkGLfkTmkMEq01FN5Wy9Y8LHmGNcJBIl5UBXTpHpFqhhBX6eHFEJf9JBXQnECTc3P7CEzt/AI7csSxKOAKRdhoA2mFT0sahfdjbGFsEtuXygs76noi012oZJesKs0O2kRbgUy0X4OCbX7TOYF3wGAbjpLmKKBAID8Ft0NYFrDq6J93/tV3vbMhdFNEv2XeqLwTK58HPJ12WXhfmYhm2NH5PXG/hAeXXLYt3EydjCd2HX6TzjSnJ+2HEETFSiSEgEIsQGTBoXeC+ngbQqjuARE8S/7LsxS3gZ0gnyjXKKdQhyIL09/sDPuWW8geFPxAb7iklYOR97+q2uVvp3uyQekY1bGGgev9JwfZ7hENvtC95eZNUdRc2aun8=
      install:
        - test -d $HOME/miniconda/bin || (rm -rf $HOME/miniconda && wget https://repo.continuum.io/miniconda/$MINICONDA_VERSION.sh -q -O $HOME/miniconda.sh && bash $HOME/miniconda.sh -b -p $HOME/miniconda)
        - export PATH="$HOME/miniconda/bin:$PATH" && hash -r
        - conda install -q -y conda-build conda-verify anaconda-client
      script:
        - conda build . --user $USERNAME --token $CONDA_TOKEN --python $TRAVIS_PYTHON_VERSION

    - stage: deploy
      env: PYPI_DEPLOY
      install: true
      script: true
      deploy:
        provider: pypi
        user: $USERNAME
        password:
          secure: RnvVK0k/25wCMAx/3B0umMm3F/jMTU+LQ7phFlt8fpvjP4EvZ0nxHcf7++RM8fQpWcLneY6MneLh1yZoKlkL9QadjEC9zqvqp+12hJqPrfpqhQmKE8kiuAiVZ3/uJJa6SVPNxVDHYQ0w4TUe4KYzNWQVOyXkt4tbtX60DKgKCWVWSnCFqCHNtdPrgaYoMDm+Koq0fHOLMHU4K64rWk10eo3O1w2QHmurYqxvcDwup7t7T2MKgkjfEu5iCsS5VvQTNlRCE86gxSha2xiJcU1MSx1+hGHxadPlPFuPAZVGgGyj3tplJkjvUfnaxoZedHJ5HPvmrlmFvexstXi8tOubkn2ognPf4VOrTKxnqAdYCkiLs/RARe6e3krVxgwGRbV3LsPR4YH6fSnrLvA73oDEHicumZdFIrZXe4PrXi41XMELqkMPHX/S3BbizNKbzXZzryVEXdCIP5zKywDzBfMbCgX9WrIag6QWDvUtBqfK9Z70ICqlGLlogTLEHdsyAGaRzOJYRn7SQ0VyETVE/Z53b0WbRbuDYrmDUWOZoGAIv96YgurfWwBQbpMAN5z1qMGXfAI2qj22NUzoJzbJoWrd1L0EaR/Ohe6SQHpddR+O6GNJ/tM4/6w/cWdpivhJ/K/6A2EGrsd7lddrzMRKs3DlKEX+6ul2BmHDD35ZRNupXH0=
        distributions: sdist bdist_wheel
        on:
          tags: true

    - stage: deploy
      env: GITHUB_RELEASE
      install: true
      script: true
      deploy:
        provider: releases
        name: Version $TRAVIS_TAG
        api_key:
          secure: NoqdiA4+taRIbHQ1/tlPAhA298Sbasqch8M0OnlStAl9Mn76Xksjw8r7ltpp24k0Tb+esgRp9JgAVJzUnPdOdszTuKK6dEO0LNF3EIwqPfyaE1RNkZ9El0dDoh2SZy4GOZNZcQlyNIuVP9t9p4RbH1URpaUOi1gGypwYqI3o0Xqk3Pac81sguszxOdHiYDHD0CajFrasmmsmj7Rrbl1YTm1m4aArqUBU0sXUUEuuxqd6bDGACwyCE91Nsoq8+ar12/BdMcHSzt0UDzlM9qeBM+MSSiIwbq52wwZ+/c67wL5ZuRc5kydqeqEmMta5lLHZpDItdzI1ACzsXXrqOqa4FypOAPEuBqfRcGyBk3ESVHuywf92ESpeAGi8pGQInsT4xQGxpDirNc8QnBThkjS6CS4xGmOl3EnokY3WPsFdklVL8+CYkWDcU0yFszr5AiUSTHTi4TLYF5ef5Y69YK0z24C4+Zg+49Q2oIkqf4RGoA3mObLt18euzOax63iCr6GU47RfCldsyb1+jvnYue4dnJ51UfzeoZU8hYhc3e8If3iA9o9s+yGULBQ/m+HDEfSTWeYlpigYQahG8r+d+sIkDhx1D2q7sFx5iEW3Mjmi7uADJWxsymCIoz09k3NVgq700il5drnEXAZ0PKHwgZuWjTrbjo6bhlfrvIvAxAAEO4Q=
        on:
          tags: true
